.consulta-section {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #96C7DD;
  border-radius: 10px;
  background-color: #ffffff;
}

.consulta-section h2 {
  text-align: center;
  color: #51BCED;
}

#consulta-form input,
#consulta-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #B9B4B4;
  border-radius: 8px;
  font-size: 16px;
}

#consulta-form button {
  background-color: #51BCED;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

#consulta-form button:hover {
  background-color: #469dc5;
}
header {
  width: 100%;
  background: #F9FAFB;
  padding: 10px 20px;
  text-align: center;
}

.logo {
  height: 40px;
}
body{
  background-color: #F9FAFB;
}